.btn {
    font-size: .8rem;
    padding: .85rem 2.13rem;
    margin: 6px;
    border-radius: 2px;
    border: 0;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    white-space: normal!important;
    word-wrap: break-word;
    cursor: pointer;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    z-index: 1;
}

.btn-rounded {
    border-radius: 10em;
}

.peach-gradient {
    background: -webkit-linear-gradient(50deg,#FFD86F,#FC6262);
    background: linear-gradient(40deg,#FFD86F,#FC6262);
}

.btn.peach-gradient {
    background: -webkit-linear-gradient(50deg,#FFD86F,#FC6262)!important;
    background: linear-gradient(40deg,#FFD86F,#FC6262)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.btn.big-font {
  font-size:1.5em;
}

.btn.aqua-gradient {
    background: -webkit-linear-gradient(50deg,#2096ff,#05ffa3)!important;
    background: linear-gradient(40deg,#2096ff,#05ffa3)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.btn.aqua-gradient:active, .btn.aqua-gradient:active:focus .btn.aqua-gradient.active, .btn.aqua-gradient:focus, .btn.aqua-gradient:hover {
    background: -webkit-linear-gradient(50deg,#3aa2ff,#1fffac);
    background: linear-gradient(40deg,#3aa2ff,#1fffac);
}


.alert {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.fixed-size {
  width: 80% !important;
  height: 150px !important!;
}

.alert-border {
  border: 2px solid rgba(255, 77, 77, 0.7);
  border-radius: 5px;
}

.top-margin {
  margin-top: 3%;
}

.caption {
  font-size: 12px;
  color: #ccc;
  margin: 2% 0 5% 0;
}
