@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.newsletter {
  transition: none;
  text-align: inherit;
  line-height: 20px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 18px;
}

.resizable {
  z-index: 8;
  white-space: nowrap;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: "Open Sans, sans-serif";
  visibility: inherit;
  transition: none;
  text-align: inherit;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 50% 50% 0px;
}

.newsletter-input {
  transition: none;
  text-align: inherit;
  line-height: 17px;
  border-width: 3px;
  margin: 0px 0px 4px -4px;
  padding: 9px 27px;
  letter-spacing: 0px;
  font-size: 16px;
}

.pageclip {
  transition: none;
  text-align: inherit;
  line-height: 18px;
  border-width: 0px;
  margin: 0px 0px 0px -10px;
  padding: 14px 27px 11px 27px;
  letter-spacing: -1px;
  font-size: 16px;
}

.landing {
  padding-bottom: 2% !important;
}

.disclaimer {
  color: #282828;
  box-shadow: inset 0 -6px 0 rgba(123, 195, 222, .5);
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  padding-bottom: 2px;
  text-decoration: none
}
